/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.gitignore

/public/mix-manifest.json
/public/css/plantilla.css
/public/js/app.js
/public/js/plantilla.js
