RewriteEngine On
# Redirect requests to the public directory if is a file
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)\.(js|css|svg|png|jpg|jpeg|ttf|woff2|ico|gif)$ /css-proyecto/public/$1.$2 [L]

# Redirect requesto server.php file -> to public
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ server.php [L]

# Deny access to other directories
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^ - [F]

# Disable Directory listing
#AllowOverride All
Options -Indexes

# block files which needs to be hidden, specify .example extension of the file
<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

