

.main{
    font-family: "Abel", sans-serif;
    background-color: white;
}


.modal-primary .modal-header{
    background-color: #003C71;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.button-container{
    margin: 0em 0.25em;
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 6px;
}

.error{
    color: red;
    margin: 0.25em;
    margin-bottom: 0.5em;
}
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
.div-form{
    margin-bottom: 0em;
}
.modal-primary .modal-content{
    width: 100%;
    max-width: none;
}

.modal-student{
    max-width: none;
}

.sidebar-fixed .sidebar {
    height: 100%;
}

.card-body {
    padding: 0;
}

.search-student {
    display: inline-block;
}

.dropdown-header {
    background-color: #003C71;
    color: white;
}

.sidebar {
    background-color: #003C71;

}

.-alt {
    padding-left: 0;
}

@media screen and (max-width: 450px) {
    .btn-label {
        display: none;
    }
}
/* Ponelo por aqui lo del sidebar */
@media screen and (max-width: 500px) {
    .btn-label {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .breadcrumb {
        margin-top: 55px;
    }

    #sidebarMenu {
        margin-top: 55px;
    }
    
    #logout {
        margin-right: 30px;
    }

    .main{
        overflow: scroll;
    }
    
}

@media screen and (min-width: 991px) {
    #logout {
        margin-right: 30px;
    }
    .inputs{
        width: 100%;
    }
}


#footer{
    margin-left: 0px;
}

#membersbutton #badge{
    position: absolute;
    margin-top: -8px;
    right: 9px;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

@media screen and (max-width: 900px) {
    #student-button{
        font-size: 1em;
        width: 12vw;
    }
}

@media screen and (max-width: 575px) {
    #student-button{
        font-size: .75em;
    }
}

@media screen and (max-width: 450px) {
    #student-button{
        font-size: .5em;
    }
}

@media screen and (max-width: 500px) {
#disappear{
    display: none;
    }
}

@media screen and (max-width: 1000px) {
    #estadoa{
        display: inline;    
    }
    #estador{
        display: inline;    
    }
    #estadoap{
        display: none;
    }
    #estadorp{
        display: none;
    }
}

.filter-group{
    align-items: center;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search-bar{ 
    height: 100%;
    flex: 1;
}

.search-group{ 
    align-items: center;
    flex: 2;
    display: flex;
    gap: 1em;
    height: 2.5em;
    flex-wrap: nowrap;
}

.filter-selector {
    max-width: 20%;
}

.search-input {
    flex: 2;
    height: 100%;
}
